@images: "../../common";
@import '../../variables.less';

.sider-bar {
  position: fixed;
  left: 0;
  width: 170px !important;
  min-width: 170px !important;
  height: 100vh;
  top: 64px;
  overflow: auto;
  background: #4f595d;

  .ant-menu {
    background: #4f595d;
  }

  .ant-layout-sider-children {
    .ant-menu-submenu {
      & > .ant-menu {
        background: #394449;
        box-shadow: none;
      }
    }
  }
}
